<h3><%= adventure.title %></h3>
<%= link_to "Buy deal", adventure.buy_url %>
<p>Price: <%= adventure.price %></p>
<%= image_tag adventure.image_url_with_size(300), :class => "image-item" %>
<ul>
  <%= adventure.details.html_safe %>
</ul>