<div class="row-fluid" id="sold_out <%= adventure.sold_out %>">
  <div class="span2">
    <%= image_tag adventure.image_url, :class => "image-item" %>
  </div>

  <div class="span7">
    <h3><%= adventure.title %></h3>
    <span><%= adventure.city %>, <%= adventure.state %></span>
    <% if adventure.sold_out %>
      <p id="status">Sold out!</p>
    <% end %>
  </div>

  <div class="span3" id="price_box">
    <p id="price" data-price=<%= adventure.price %>><%= number_to_currency(adventure.price, :precision => 0) %></p>
    <span id="duration" data-duration=<%= to_minutes(adventure.duration) %>><%= number_with_precision(adventure.duration, :precision => 2, :significant => true, :strip_insignificant_zeros => true) %> hours</span>
  </div>

    
</div>